h1{
    font-size: 64px;
}
h2{
    font-size: 54px;
}
h3{
    font-size: 44px;
}
h4{
    font-size: 32px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 15px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.navbar-text li{
    list-style: none;
}
.navbar-text a{
    text-decoration: none;
}
.navbar-nav{
    margin-left: auto;
}
.nav-link:hover{
    background-color:#222;
    border-radius: 5px;
}
.hero-section{
    background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)),url(image.jpg);
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.hero-description{
    position: absolute;
    top:20%;
    left:10%;
    text-align: left;
}
.hero-heading h1{
    margin-top: 60px;
    font-size: 52px;
    line-height: 1.2;
    color: #f9f9f9;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.hero-description .hero-paragraph{
    font-size: 18px;
    color: #f9f9f9;
}
.hero-button button{
    border-radius: 5px;
    padding: 5px 25px;
    color: #f9f9f9;
    background: transparent;
    border:1px solid #f9f9f9;
    font-weight: 500;
    transition: 300ms ease;
}
.hero-button button:hover{
    color:#222;
    background-color:#f9f9f9;
    border-color: #f9f9f9;
}
.support-square{
    height: 330px;
    background-color: #222;
    color: #ffffff;
    border-radius: 5px;
    margin: 0px 0px 45px;
    padding: 30px;
}
.support-wrapper .support-description{
    text-align: justify;
    margin: 0px 0px 10px;
}
.support-wrapper .support-text{
    text-align: center;
    text-transform:uppercase;
}
 .support-section{
  margin: 0px 0px 30px;
} 
.support-section .support-title{
    text-transform: uppercase;
}
.support-left{
    font-size: 16px;
}
.merge-section{
    padding: 65px 0px;
}
.support-left h2{
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.safe-section{
    background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)),url(image2.jpg);
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: end;
    padding: 65px 0px;
}
.safe-image{
      position: absolute;
      right: 10%;
      top:20%;
}
.safe-image .safe-heading{
    margin-top: 60px;
    font-size: 45px;
    line-height: 1.2;
    color: #f9f9f9;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.safe-image .safe-paragraph{
    color: #f9f9f9;
    font-size: 18px;
}
.safe-button button{
    border-radius: 5px;
   color: #000000;
   padding: 5px 25px;
   border-color: #f9f9f9;
   transition: 300ms ease;
}
.safe-button button:hover{
    color: #f9f9f9;
    background-color: #eb5757;
    border-color: #eb5757;
} 
.product-list-wrapper{
    padding-bottom: 65px;
   
}
.product-section{
    padding: 65px 0px;
}
.product-info .product-heading{
    text-transform: uppercase;
}
.list-items{
    margin-bottom: 20px;
}

.list-items img{
    height: 500px;;
    width: 100%;
    object-fit: cover;
    margin:0px 0px 15px;
    border-radius: 5px;
}

.shop-local-section{
    padding: 45px;
}
.shop-detail{
    display: block;
    text-align: center;
}
.shop-detail button{
    border-radius:5px;
    color: #ffffff;
    background-color: #eb5757;
    padding: 5px 25px;
    border-color: #eb5757;
    font-weight: 700;
    margin: 15px 0px;
    transition: 300ms ease;
}
.shop-detail button:hover{
    background-color: #000000;
    border-color: #000000;
}
.shop-more{
    display: flex;
    justify-content: center ;
}
.shop-more button{
    border-color: #000000;
    background-color: #000000;
    color: #f9f9f9;
    border-radius: 5px;
    padding: 5px 25px;
    transition: 300ms ease;
}
.shop-more button:hover{
    border-color: #eb5757;
    background-color: #eb5757;
}
.shop-local-wrapper{
    color: #f9f9f9;
    position: relative;
} 
.shop-local-wrapper .shop-local-heading{
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.shop-local-wrapper p{
    padding-bottom: 10px;
}
strong{
    font-weight: bold;
}
.shop-left{
    position: absolute;
    top:6%;
    left:8%;
    z-index: 9;
}
.shop-left img{
    height: 350px;
    width: 350px;
    object-fit:cover;
    border-radius: 5px;
}
.shop-right{
    
    padding: 45px;
    background-color: #222;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.shop-wrapper{
    padding-left: 145px;
    padding-right: 145px;
}
.shop-right p{
    margin:auto;
    text-align: center;
}
.footer-section{
    padding-top: 65px;
    padding-bottom: 10px;
    background-color: #222;
}
.footer-wrapper{
   display: flex;   
   justify-content: space-between;
   align-items: center;
}

.footer-icon i{
    margin: 8px;
    font-size: 32px;
    transition: 300ms ease;
}
.footer-icon i:hover{
    color: rgb(153,153,153);
}
.footer-bottom{
    margin-top: 55px;
    color: #f9f9f9;
    text-align: center;
}
.footer-bottom .footer-text{
    font-size: 12px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
    .shop-left{
        position: inherit;
      
    }
    .shop-left img{
        height: auto;
        width: 100%;
    }
    .shop-wrapper{
        padding-left: 40px;
        padding-right: 40px;
    }
  }
  @media screen and (max-width:479px) {
    .footer-wrapper{
        flex-direction: column;
        
    }
  }
